/*button extends*/

.button.small{
    height: 2.8rem
    line-height: 2.8rem
    padding: 0 1.0rem
}

/* warning */
.button.warning{
    border-color: color-warning
    background-color: color-warning;
    &:focus,
    &:hover{
        background-color: color-warning;
		border-color: color-warning;
    }

	&[disabled]{
		&:focus,
		&:hover {
            background-color: color-warning-light;
            border-color: color-warning-light;
        }
    }
	&.button-outline{
        background-color: transparent
		color: color-warning;
		&:focus,
		&:hover{
			border-color: color-warning-light;
			color: color-warning-light;
        }
		&[disabled]{
			&:focus,
			&:hover{
				color: color-warning;
            }
        }
    }
}

/* succuses */

.button.success{
    border-color: color-success
    background-color: color-success;
    &:focus,
    &:hover{
        background-color: color-success;
		border-color: color-success;
    }

	&[disabled]{
		&:focus,
		&:hover {
            background-color: color-success-light;
            border-color: color-success-light;
        }
    }
	&.button-outline{
        background-color: transparent
		color: color-success;
		&:focus,
		&:hover{
			border-color: color-success-light;
			color: color-success-light;
        }
		&[disabled]{
			&:focus,
			&:hover{
				color: color-success;
            }
        }
    }
}


/* info */

.button.info{
    border-color: color-info
    background-color: color-info;
    &:focus,
    &:hover{
        background-color: color-info;
		border-color: color-info;
    }

	&[disabled]{
		&:focus,
		&:hover {
            background-color: color-info-light;
            border-color: color-info-light;
        }
    }
	&.button-outline{
        background-color: transparent
		color: color-info;
		&:focus,
		&:hover{
			border-color: color-info-light;
			color: color-info-light;
        }
		&[disabled]{
			&:focus,
			&:hover{
				color: color-info;
            }
        }
    }
}

/* succuses */

.button.success{
    border-color: color-success
    background-color: color-success;
    &:focus,
    &:hover{
        background-color: color-success;
		border-color: color-success;
    }

	&[disabled]{
		&:focus,
		&:hover {
            background-color: color-success-light;
            border-color: color-success-light;
        }
    }
	&.button-outline{
        background-color: transparent
		color: color-success;
		&:focus,
		&:hover{
			border-color: color-success-light;
			color: color-success-light;
        }
		&[disabled]{
			&:focus,
			&:hover{
				color: color-success;
            }
        }
    }
}


/* special */

.button.special{
    border-color: color-special
    background-color: color-special;
    &:focus,
    &:hover{
        background-color: color-special;
		border-color: color-special;
    }

	&[disabled]{
		&:focus,
		&:hover {
            background-color: color-special-light;
            border-color: color-special-light;
        }
    }
	&.button-outline{
        background-color: transparent
		color: color-special;
		&:focus,
		&:hover{
			border-color: color-special-light;
			color: color-special-light;
        }
		&[disabled]{
			&:focus,
			&:hover{
				color: color-special;
            }
        }
    }
}

