/*color extends*/
color-initial ?= #FFFFFF
color-primary ?= #C7243A 

color-secondary ?= #D75969
color-tertiary ?= #f4f5f6
color-quaternary ?= #d1d1d1
color-quinary ?= #e1e1e1

color-warning ?= #EDAD0B
color-warning-light ?= #F2C44E
color-success ?= #A4C520
color-success-light ?= #BCD655
color-info ?= #009F8C
color-info-light ?= #35BAAB

color-special ?= #007FB1
color-special-light ?= #399FC7
