/*color extends*/
color-initial ?= #FFFFFF
color-primary ?= #C7243A 

color-secondary ?= #D75969
color-tertiary ?= #d1d1d1
color-quaternary ?= #f4f5f6
color-quinary ?= #e1e1e1

color-warning ?= #EDAD0B
color-warning-light ?= #F2C44E

color-special ?= #009F8C
color-special-light ?= #35BAAB

color-info ?= #A4C520
color-info-light ?= #BCD655

color-success ?= #007FB1
color-success-light ?= #399FC7
