
input[type='datetime-local']
    @extend input[type='text']

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='date'],
input[type='datetime-local'],
textarea,
select
    border-width 0.2rem 
    border-color color-secondary
    &.warning
        border-width 0.2rem 
        border-color color-warning

fieldset,
input,
select,
textarea 
    margin-bottom: 0.6rem
form
    input
        transition 0.6s border-color ease
.form-select
        position relative
        &:before
            z-index 1
            position absolute
            font-size 1.8rem
            color color-primary
            right 1.4rem
            top 0
            content "\e01d"
            font-family "typicons"
            line-height 4.0rem
            pointer-events none
select
    -webkit-appearance none
    -moz-appearance none
    appearance none
select:-moz-focusring  
    color transparent 
    text-shadow 0 0 0 color-primary
