.row
    &.row-reverse
        flex-direction column-reverse

/* Larger than mobile screen */
@media (min-width: 40.0rem)
    .row
        &.row-md-reverse
            flex-direction row-reverse
        .column
            // column-md Offsets
            &.column-md-offset-10
                margin-left: 10%

            &.column-md-offset-20
                margin-left: 20%

            &.column-md-offset-25
                margin-left: 25%

            &.column-md-offset-33,
            &.column-md-offset-34
                margin-left: 33.3333%

            &.column-md-offset-50
                margin-left: 50%

            &.column-md-offset-66,
            &.column-md-offset-67
                margin-left: 66.6666%

            &.column-md-offset-75
                margin-left: 75%

            &.column-md-offset-80
                margin-left: 80%

            &.column-md-offset-90
                margin-left: 90%

            // Explicit column-md Percent Sizes
            // By default each grid column-md will evenly distribute
            // across the grid. However, you can specify individual
            // column-mds to take up a certain size of the available area
            &.column-md-10
                flex: 0 0 10%
                max-width: 10%

            &.column-md-20
                flex: 0 0 20%
                max-width: 20%

            &.column-md-25
                flex: 0 0 25%
                max-width: 25%

            &.column-md-33,
            &.column-md-34
                flex: 0 0 33.3333%
                max-width: 33.3333%

            &.column-md-40
                flex: 0 0 40%
                max-width: 40%

            &.column-md-50
                flex: 0 0 50%
                max-width: 50%

            &.column-md-60
                flex: 0 0 60%
                max-width: 60%

            &.column-md-66,
            &.column-md-67
                flex: 0 0 66.6666%
                max-width: 66.6666%

            &.column-md-75
                flex: 0 0 75%
                max-width: 75%

            &.column-md-80
                flex: 0 0 80%
                max-width: 80%

            &.column-md-90
                flex: 0 0 90%
                max-width: 90%

            // .column-md-* vertically aligns an individual .column-md
            .column-md-top
                align-self: flex-start

            .column-md-bottom
                align-self: flex-end

            .column-md-center
                align-self: center

/* Larger than tablet screen */
@media (min-width: 80.0rem)
    .row
        &.row-lg-reverse
            flex-direction row-reverse
        .column
            // column-lg Offsets
            &.column-lg-offset-10
                margin-left: 10%

            &.column-lg-offset-20
                margin-left: 20%

            &.column-lg-offset-25
                margin-left: 25%

            &.column-lg-offset-33,
            &.column-lg-offset-34
                margin-left: 33.3333%

            &.column-lg-offset-50
                margin-left: 50%

            &.column-lg-offset-66,
            &.column-lg-offset-67
                margin-left: 66.6666%

            &.column-lg-offset-75
                margin-left: 75%

            &.column-lg-offset-80
                margin-left: 80%

            &.column-lg-offset-90
                margin-left: 90%

            // Explicit column-lg Percent Sizes
            // By default each grid column-lg will evenly distribute
            // across the grid. However, you can specify individual
            // column-lgs to take up a certain size of the available area
            &.column-lg-10
                flex: 0 0 10%
                max-width: 10%

            &.column-lg-20
                flex: 0 0 20%
                max-width: 20%

            &.column-lg-25
                flex: 0 0 25%
                max-width: 25%

            &.column-lg-33,
            &.column-lg-34
                flex: 0 0 33.3333%
                max-width: 33.3333%

            &.column-lg-40
                flex: 0 0 40%
                max-width: 40%

            &.column-lg-50
                flex: 0 0 50%
                max-width: 50%

            &.column-lg-60
                flex: 0 0 60%
                max-width: 60%

            &.column-lg-66,
            &.column-lg-67
                flex: 0 0 66.6666%
                max-width: 66.6666%

            &.column-lg-75
                flex: 0 0 75%
                max-width: 75%

            &.column-lg-80
                flex: 0 0 80%
                max-width: 80%

            &.column-lg-90
                flex: 0 0 90%
                max-width: 90%

            // .column-lg-* vertically aligns an individual .column-lg
            .column-lg-top
                align-self: flex-start

            .column-lg-bottom
                align-self: flex-end

            .column-lg-center
                align-self: center
/* Larger than desktop screen */
@media (min-width: 120.0rem)
    .row
        &.row-xl-reverse
            flex-direction row-reverse
        .column
            // column-xl Offsets
            &.column-xl-offset-10
                margin-left: 10%

            &.column-xl-offset-20
                margin-left: 20%

            &.column-xl-offset-25
                margin-left: 25%

            &.column-xl-offset-33,
            &.column-xl-offset-34
                margin-left: 33.3333%

            &.column-xl-offset-50
                margin-left: 50%

            &.column-xl-offset-66,
            &.column-xl-offset-67
                margin-left: 66.6666%

            &.column-xl-offset-75
                margin-left: 75%

            &.column-xl-offset-80
                margin-left: 80%

            &.column-xl-offset-90
                margin-left: 90%

            // Explicit column-xl Percent Sizes
            // By default each grid column-xl will evenly distribute
            // across the grid. However, you can specify individual
            // column-xls to take up a certain size of the available area
            &.column-xl-10
                flex: 0 0 10%
                max-width: 10%

            &.column-xl-20
                flex: 0 0 20%
                max-width: 20%

            &.column-xl-25
                flex: 0 0 25%
                max-width: 25%

            &.column-xl-33,
            &.column-xl-34
                flex: 0 0 33.3333%
                max-width: 33.3333%

            &.column-xl-40
                flex: 0 0 40%
                max-width: 40%

            &.column-xl-50
                flex: 0 0 50%
                max-width: 50%

            &.column-xl-60
                flex: 0 0 60%
                max-width: 60%

            &.column-xl-66,
            &.column-xl-67
                flex: 0 0 66.6666%
                max-width: 66.6666%

            &.column-xl-75
                flex: 0 0 75%
                max-width: 75%

            &.column-xl-80
                flex: 0 0 80%
                max-width: 80%

            &.column-xl-90
                flex: 0 0 90%
                max-width: 90%

            // .column-xl-* vertically aligns an individual .column-xl
            .column-xl-top
                align-self: flex-start

            .column-xl-bottom
                align-self: flex-end

            .column-xl-center
                align-self: center