
base-space ?= 1.2

.wrap
     padding-top base-space * 6 rem

.margin
    margin base-space rem
.margin-top
    margin-top base-space rem 
.margin-left
    margin-left base-space rem 
.margin-right
    margin-right base-space rem 
.margin-bottom
    margin-bottom base-sapce rem

.margin-md
    margin base-space / 2 rem
.margin-md-top
    margin-top base-space / 2 rem 
.margin-md-left
    margin-left base-space / 2 rem 
.margin-md-right
    margin-right base-space / 2 rem 
.margin-md-bottom
    margin-bottom base-sapce / 2 rem 

.padding
    padding base-space rem
.padding-top
    padding-top base-space rem 
.padding-left
    padding-left base-space rem 
.padding-right
    padding-right base-space rem 
.padding-bottom
    padding-bottom base-sapce rem

.padding-md
    padding base-space / 2 rem
.padding-md-top
    padding-top base-space / 2 rem 
.padding-md-left
    padding-left base-space / 2 rem 
.padding-md-right
    padding-right base-space / 2 rem 
.padding-md-bottom
    padding-bottom base-sapce / 2 rem 



.border-bottom
    border-bottom 0.1rem color-secondary solid
.border-right
    border-right 0.1rem color-secondary solid
.border-left
    border-left 0.1rem color-secondary solid
.border-top
    border-top 0.1rem color-secondary solid

.hidden-md,
.hidden-lg,
.hidden-xl
    display none
@media (min-width: 40.0rem)
    .hidden-md 
        display block

