.navigation 
    background #f4f5f6
    border-bottom .1rem solid color-quaternary
    display block
    height 5.2rem
    lef 0
    max-width 100%
    position fixed
    right 0
    top 0
    width 100%
    z-index: 1
    
    .navigation-list
        list-style none
    
    .navigation-list li
        float left
        margin-bottom 0
        margin-left 2.5rem
        position relative
    
    .navigation-list li > a
        display inline
        font-size 1.6rem
        line-height 5.2rem
        padding 0
        text-decoration none
    
.navigation-stack 
    display block;
    
    .navigation-list
        list-style none;
        margin 0
        padding 0
    
    .navigation-list li
        margin 0
        border-bottom .1rem solid color-quinary
        padding 0
    
    .navigation-list li > a
        display block 
        font-size 1.6rem
        line-height 4.2rem
        padding 0 0 0 1.2rem
        text-decoration none
    .navigation-list li > a:hover
        background color-quinary
        color color-secondary

.panel .navigation-stack 
    display block
    margin -1rem
    .navigation-list li:last-child
        border-bottom 0
    .navigation-list li:last-child a
        border-radius 0 0 0.6rem 0.6rem
    .navigation-list li:first-child a
        border-radius  0.6rem 0.6rem 0 0