

.offset-container
    background color-primary
    color color-initial
    position fixed
    top 0
    left 0
    z-index 2
    width 92%
    height 100%
    box-shadow:2px 0px 16px 5px color-quinary
    -moz-box-shadow:2px 0px 16px 5px color-quinary
    -webkit-box-shadow:2px 0px 16px 5px color-quinary
    border-right 0.1rem solid color-primary-shadow
    a
        color color-secondary 
        cursor pointer
        &:hover,
        &:focus
            color color-initial

    .content
        margin 6rem 0.01rem 0.01rem 0.01rem
    .close
        position absolute
        top 0.4rem
        right 3.6rem
    ul
        list-style none
        margin 0 
        padding 0
        border-bottom 0.1rem solid color-primary-shadow
        margin 0
        padding 0
        box-shadow:0px 5px 1px -5px color-primary-light
        -moz-box-shadow:0px 5px 1px -5px color-primary-light
        -webkit-box-shadow:0px 5px 1px -5px color-primary-light
        li
            border-top 0.1rem solid color-primary-shadow
            margin 0
            padding 0
            box-shadow:0px 5px 1px -5px color-primary-light inset
            -moz-box-shadow:0px 5px 1px -5px color-primary-light inset
            -webkit-box-shadow:0px 5px 1px -5px color-primary-light inset
        li > a
            display block
            padding 0.8rem 0.8rem 0.8rem 1.6rem
            font-weight bold
            &:hover
                background color-primary-light
    
@media (min-width: 40.0rem)
    .offset-container
        width 36%;
@media (min-width: 80.0rem)
    .offset-container
        width 26%;
@media (min-width: 120.0rem)
    .offset-container
        width 16%;

.navigation .navigation-list a.offset-toggle
    border .26rem solid color-primary
    color color-primary
    border-radius .5rem
    padding .4rem
    display block
    line-height 1.4rem
    margin-top 1.1rem
    .typcn
        line-height .8
        &:before
            font-size 1.8rem
            margin .1rem .6rem .6rem .3rem
    &:hover,
    &:focus,
        border 0.26rem solid color-primary-light
        color color-primary-light
    &.active
        border 0.26rem solid color-tertiary
        color color-tertiary
        margin-top 1.2rem
        margin-left .2rem