.pagination 
    ul.pagination-list
        list-style none
        font-size 1.0rem
    

    .pagination-list li 
        float left
    
    .pagination-list li a
        transition 0.1s background-color,border-color ease 
        border-radius  0.3rem
        border color-secondary solid 0
        background-color color-tertiary 
        display block
        padding 0.3rem 0.9rem
        margin 0.3rem
        color color-secondary
        
    .pagination-list li a
        color color-initial
        background-color color-quinary
        &:not(.disable)
            color color-primary
            background-color color-quaternary
        &:hover:not(.disable)
            color color-initial
            background-color color-primary
    
    .pagination-list li a.disable:hover 
        cursor not-allowed
    
    .pagination-list li.active a
        color color-initial
        background-color color-secondary
       
