.panel
    border 0.3rem solid color-primary
    margin 1rem .2rem
    padding 1.6rem 1.6rem;
    border-radius 0.7rem
    box-shadow 3px 3px 6px -2px color-secondary
    -moz-box-shadow 3px 3px 6px -2px color-secondary;
    -webkit-box-shadow 3px 3px 6px -2px color-secondary
    form
        margin-bottom 0
    .navigation-stack 
        display block
        margin -1.6rem
        .navigation-list li:last-child
            border-bottom 0
        .navigation-list li:last-child a
            border-radius 0 0 0.2rem 0.2rem
    h3,
    h4,
    h5,
    h6
        margin -1.7rem -1.7rem 1.6rem -1.7rem
        padding .6rem 1.2rem .6rem 1.2rem
        border-bottom solid 0.1rem color-primary
        background-color color-primary
        border-radius 0.6rem  0.6rem 0 0
        color color-initial
        border solid 0.1rem  color-primary-right
