

/*
    flat-picker css
*/

@require "../../../node_modules/flatpickr/dist/flatpickr.min.css"

@require "../../../node_modules/flatpickr/dist/themes/light.css"

@require "../../../node_modules/flatpickr/dist/plugins/confirmDate/confirmDate.css"


/*
@import "../../../node_modules/milligram-stylus/dist/milligram.styl"
@import "../../../node_modules/milligram-stylus/dist/_Color"
 color */

color-initial ?= #FFFFFF
color-primary ?= #C7243A 

color-secondary ?= #D75969
color-tertiary ?= #f4f5f6
color-quaternary ?= #d1d1d1
color-quinary ?= #e1e1e1

color-warning ?= #EDAD0B
color-warning-light ?= #F2C44E
color-succues ?= #A4C520
color-succues-light ?= #BCD655
color-info ?= #009F8C
color-info-light ?= #35BAAB

color-gen ?= #007FB1
color-gen-light ?= #399FC7


@import "../../../node_modules/milligram-stylus/dist/_Base"
@import "../../../node_modules/milligram-stylus/dist/_Blockquote"
@import "../../../node_modules/milligram-stylus/dist/_Button"
@import "../../../node_modules/milligram-stylus/dist/_Code"
@import "../../../node_modules/milligram-stylus/dist/_Divider"
@import "../../../node_modules/milligram-stylus/dist/_Form"
@import "../../../node_modules/milligram-stylus/dist/_Grid"
@import "../../../node_modules/milligram-stylus/dist/_Link"
@import "../../../node_modules/milligram-stylus/dist/_List"
@import "../../../node_modules/milligram-stylus/dist/_Spacing"
@import "../../../node_modules/milligram-stylus/dist/_Table"
@import "../../../node_modules/milligram-stylus/dist/_Typography"
@import "../../../node_modules/milligram-stylus/dist/_Image"
@import "../../../node_modules/milligram-stylus/dist/_Utility"


@import "./navigation"
@import "./pagination"

/*button extends*/

.button.small
    height 2.8rem
    line-height 2.8rem
    padding 0 1.0rem

.button.war\\


.wrap
     padding-top 7.5rem
