<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../../views/tile/head') %>
  </head>
  <body data-csrf-token="<%= csrf %>">
    <div id="application"><%- ssr %></div>

    <script src="/tasks/client.js"></script>
  </body>
</html>
