<div data-component="sticky">
    <nav class="global-nav">
        <ul>
            <li><a href="aaa">aaa</a></li>
            <li><a href="aaa">aaa</a></li>
            <li><a href="aaa">aaa</a></li>
            <li><a href="aaa">aaa</a></li>
            <li><a href="aaa">aaa</a></li>
            <li><a href="aaa">aaa</a></li>
        </ul>
    </nav>
</div>