
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../component/head-base') %>
  </head>
  <body>
<%- include('../component/global-nav') %>

  <div class="main">
    <form action="" class="form">
      <div class="form-item">
        <input class="w50" type="text" name="test">
      </div>
      <div class="form-item">
        <button class="button primary ">Submit</button>
      </div>
    </form>
  </div>

   <%- include('../component/scripts') %>
  </body>
</html>

