<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../component/head-base') %>
  </head>
  <body>
    <%= title %>
    <%- include('../component/body-foot') %>
  </body>
</html>
