<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../component/head-base') %>
  </head>
  <body>

 <%- include('../component/global-nav') %>

 <%- include('../component/scripts') %>
  </body>
</html>
