/*color extends*/

init-r = 249
init-g = 253
init-b = 253
init-dwn = 16

color-initial ?= rgb(init-r,init-g,init-b);
color-secondary ?= rgb(init-r - init-dwn * 1 ,init-g - init-dwn * 1 ,init-b - init-dwn * 1)
color-tertiary ?= rgb(init-r - init-dwn * 2 ,init-g - init-dwn * 2 ,init-b - init-dwn * 2)
color-quaternary ?= rgb(init-r - init-dwn * 3 ,init-g - init-dwn * 3 ,init-b - init-dwn * 3)
color-quinary ?= rgb(init-r - init-dwn * 4 ,init-g - init-dwn * 4 ,init-b - init-dwn * 4)

color-primary ?= #DB553E
color-primary-light ?= #EA9586
color-primary-pastel ?= #F8DAD5
color-primary-shadow ?= #ce513b

color-warning ?= #F5CA2F
color-warning-light ?= #F9DF80
color-warning-pastel ?= #FDF5D4

color-special ?= #5973B5
color-special-light ?= #93A5D3
color-special-pastel ?= #D8DFF0

color-success ?= #1DAB8A
color-success-light ?= #66CDB5
color-success-pastel ?= #C6EEE5

color-info ?= #1F95BC
color-info-light ?= #6CBCD7
color-info-pastel ?= #CAE8F2

