h1,
h2,
h3,
h4,
h5,
h6
    font-weight 300
    letter-spacing -.1rem
    margin-bottom 1.2rem
    margin-top 1.2rem

.text-right 
    text-align right

.text-left 
    text-align left

.text-center
    text-align center

.text-md
    font-size 1.4rem

.text-sm
    font-size 1.0rem